@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SpendSmart</h1>
   <a asp-controller="home"  asp-action="Expenses"  class=" btn btn-primary">Overview</a>
   <a asp-action="CreateEditExpense" class=" btn btn-secondary">Create new</a>
</div>
